<html lang="pt-br">

    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Happy | Orfanatos próximos a você" />
        <meta property="og:description" content="O Happy é um projeto que visa facilitar visitas aos orfanatos próximos a você" />
        <meta property="og:url" content="https://happy-guilhermeassuncao.herokuapp.com/" />
        <meta name="image" property="og:image" content="images/og-image.jpg" />
        <!-- Fim Meta Tags -->

        <!-- CSS -->
        <link rel="icon" href="images/logo-icon.png" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/animation.css" />
        <link rel="stylesheet" href="css/page-landing.css" />
        <!-- Fim CSS -->

        <!-- Titulo -->
        <title>Happy | Orfanatos próximos a você</title>
        <!-- Fim Titulo -->
    </head>

    <body>
        <div id="page-landing">
            <div id="container">
                <header>
                    <img class="animate-up" id="logo" src="images/logo.svg" alt="Logo Happy" />
                    <div class="location animate-up">
                        <strong>São Mateus</strong>
                        <p>Espírito Santo</p>
                    </div>
                </header>
                <main>
                    <h1 class="animate-up">Leve felicidade para o mundo</h1>
                    <section class="visit">
                        <p class="animate-up">
                            Visite orfanatos e mude o dia de muitas crianças
                        </p>
                        <a class="animate-up" href="/orphanages" title="Visite Orfanatos"><img src="images/arrow.svg" alt="Visite Orfanatos" /></a>
                    </section>
                </main>
            </div>
        </div>
    </body>

</html>